<div
  class="fixed bottom-6 left-1/2 -translate-x-1/2 bg-white/10 backdrop-blur-md shadow-lg rounded-3xl px-6 py-3 flex justify-between gap-10 border border-white/10"
>
  <a
    routerLink="/keypad"
    routerLinkActive="text-blue-400"
    class="flex flex-col items-center text-white"
  >
    <span class="text-xl">🔢</span>
    <span class="text-xs">Keypad</span>
  </a>

  <a
    routerLink="/contacts"
    routerLinkActive="text-blue-400"
    class="flex flex-col items-center text-white"
  >
    <span class="text-xl">👥</span>
    <span class="text-xs">Contacts</span>
  </a>

  <a
    routerLink="/recents"
    routerLinkActive="text-blue-400"
    class="flex flex-col items-center text-white"
  >
    <span class="text-xl">🕑</span>
    <span class="text-xs">Recents</span>
  </a>
</div>
