<div class="fixed bottom-0 left-0 right-0 bg-white border-t p-3 flex justify-around text-sm">
  <a routerLink="/keypad" routerLinkActive="text-blue-600" class="flex flex-col items-center">
    <span>🔢</span>
    <span>Keypad</span>
  </a>

  <a routerLink="/contacts" routerLinkActive="text-blue-600" class="flex flex-col items-center">
    <span>👥</span>
    <span>Contacts</span>
  </a>

  <a routerLink="/recents" routerLinkActive="text-blue-600" class="flex flex-col items-center">
    <span>🕑</span>
    <span>Recents</span>
  </a>
</div>
